@use "sass:math";
@import url("../../../../shared/styles/mixins.scss");

.Categories {
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding-top: 1rem;
}
