.swiper-pagination-bullets {
  margin-bottom: 1rem;
}
.swiper-pagination-bullet{
  transition: all 0.3s ease 0s;
  background-color: var(--bg-color)!important;
  opacity: 0.8;
  margin: 1px !important;

}
.swiper-pagination-bullet-active{


}