@use "sass:math";
@import url("../../../shared/styles/mixins.scss");

.CategoryInput {
	cursor: pointer;

	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	padding: 1rem;

	border: 2px solid var(--input-border-color);
	border-radius: 0.75rem;

	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			border-color: var(--text-color);
		}
	}

	&:active {
		scale: 0.9;
	}
}

.selected {
	border-color: var(--text-color);
}

.label {
	font-weight: 600;
}
